@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v11/TUZyzwprpvBS1izr_vOECuSa.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothicCoding'), url(https://fonts.gstatic.com/s/nanumgothiccoding/v6/8QIVdjzHisX_8vv59_xMxtPFW4IXROws-6M7Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background: #222;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  font-size: 14px;
}
@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatic SC', cursive, sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  width: 100%;
}
.App-header {
  background-color: #111;
  padding-left: 3em;
}
.App-logo {
  display: inline-block;
  margin: 1em;
  height: 50px;
}
@media (min-width: 576px) {
  .App-logo {
    height: 60px;
  }
}
@media (min-width: 768px) {
  .App-logo {
    height: 80px;
  }
}
.App-title {
  display: inline-block;
  vertical-align: top;
  color: #5d4a8f;
  font-size: 2em;
}
.Calendar {
  margin: 0 0.5em;
}
@media (min-width: 576px) {
  .Calendar {
    margin: 1em;
  }
}
@media (min-width: 768px) {
  .Calendar {
    margin: 2em;
  }
}
.Calendar-times {
  margin-left: 27px;
  margin-bottom: 1em;
}
@media (min-width: 576px) {
  .Calendar-times {
    margin-left: 72px;
  }
}
@media (min-width: 768px) {
  .Calendar-times {
    margin-left: 90px;
  }
}
.Calendar-times .time {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  width: 2em;
  text-align: left;
  width: 4.16666667%;
}
.Calendar-times .time:nth-child(even) {
  color: transparent;
}
@media (min-width: 576px) {
  .Calendar-times .time:nth-child(even) {
    color: inherit;
  }
}
.Calendar-days {
  font-family: 'Amatic SC', cursive, sans-serif;
  line-height: 2em;
}
.Calendar-days .day {
  display: flex;
}
.Calendar-days .day .name {
  display: none;
}
@media (min-width: 576px) {
  .Calendar-days .day .name {
    display: initial;
    margin-right: 1em;
    width: 20px;
  }
}
.Calendar-days .day .number {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  width: 2em;
  height: 42px;
}
.Calendar-canvas {
  width: 100%;
}
.Sleep {
  position: relative;
}
.Sleep .sleep {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border: 0;
  position: absolute;
  padding: 0;
  height: 20px;
  font-size: 12px;
  line-height: 1.8;
  text-align: center;
  vertical-align: middle;
}
.Button {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border: 0;
  font-size: 20px;
  font-family: 'Amatic SC', cursive, sans-serif;
  cursor: pointer;
  display: inline-block;
  outline: 0;
}
.Button-default {
  color: black;
  background-color: #333;
  border-color: #333;
  transition: all 0.3s ease-in-out;
}
.Button-default:hover,
.Button-default:focus,
.Button-default:active {
  color: black;
  background-color: #1a1a1a;
  border-color: #212121;
}
.Button-primary {
  color: white;
  background-color: #5d4a8f;
  border-color: #5d4a8f;
  transition: all 0.3s ease-in-out;
}
.Button-primary:hover,
.Button-primary:focus,
.Button-primary:active {
  color: white;
  background-color: #47396d;
  border-color: #4e3e77;
}
.Button-secondary {
  color: white;
  background-color: #c5a6c3;
  border-color: #c5a6c3;
  transition: all 0.3s ease-in-out;
}
.Button-secondary:hover,
.Button-secondary:focus,
.Button-secondary:active {
  color: white;
  background-color: #b187ae;
  border-color: #b790b4;
}
.Button-success {
  color: white;
  background-color: #92ca37;
  border-color: #92ca37;
  transition: all 0.3s ease-in-out;
}
.Button-success:hover,
.Button-success:focus,
.Button-success:active {
  color: white;
  background-color: #75a32b;
  border-color: #7eaf2e;
}
.Button-info {
  color: white;
  background-color: #005fad;
  border-color: #005fad;
  transition: all 0.3s ease-in-out;
}
.Button-info:hover,
.Button-info:focus,
.Button-info:active {
  color: white;
  background-color: #00437a;
  border-color: #004b89;
}
.Button-warning {
  color: white;
  background-color: #e2ba4d;
  border-color: #e2ba4d;
  transition: all 0.3s ease-in-out;
}
.Button-warning:hover,
.Button-warning:focus,
.Button-warning:active {
  color: white;
  background-color: #d9a823;
  border-color: #ddae2e;
}
.Button-danger {
  color: white;
  background-color: #b9204e;
  border-color: #b9204e;
  transition: all 0.3s ease-in-out;
}
.Button-danger:hover,
.Button-danger:focus,
.Button-danger:active {
  color: white;
  background-color: #8e183c;
  border-color: #9b1b41;
}
.Button-subtile {
  color: #090909;
  background-color: #1b1a1a;
  border-color: #1b1a1a;
  transition: all 0.3s ease-in-out;
}
.Button-subtile:hover,
.Button-subtile:focus,
.Button-subtile:active {
  color: #090909;
  background-color: #161515;
  border-color: #090808;
}
.Button-small {
  padding: 0.3rem 0.6rem;
}
.Modal-transition-enter {
  opacity: 0.01;
}
.Modal-transition-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in;
}
.Modal-transition-exit {
  opacity: 1;
}
.Modal-transition-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
.Modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  animation: show 0.5s ease;
}
@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Modal {
  position: relative;
  width: 100%;
  background-color: #222;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border: 0;
}
@media (min-width: 576px) {
  .Modal {
    width: 32rem;
  }
}
.Modal-heading {
  font-size: 20px;
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 36px;
  line-height: normal;
  padding: 15px;
  border-bottom: #090909 solid 1pt;
}
.Modal-content {
  padding: 15px;
}
.Modal-footer {
  border-top: #090909 solid 1pt;
  padding: 15px;
}
.Modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}
.Form-group {
  font-family: 'Roboto', sans-serif;
}
.Form-group label {
  text-transform: uppercase;
}
.Form-group .Form-text {
  color: #b1b1b1;
}
.Form-group .Form-error {
  color: #b9204e;
}
.Form-group input.Form-input {
  background-color: #1b1a1a;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 1em 2em;
  margin-bottom: 15px;
  border: 1pt solid #1b1a1a;
}
.Form-group input.Form-input:focus {
  border: 1pt solid #5d4a8f;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(93, 74, 143, 0.5);
  outline: none;
}
.Form-group input.Form-input:hover {
  transition: background-color 500ms ease-in-out;
  background-color: #131212;
}
.TimePicker-root {
  width: 288px;
}
.TimePicker-header {
  color: white;
  padding: 20px 0;
  line-height: 58px;
  font-size: 58px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  user-select: none;
  text-align: center;
  background: #5d4a8f;
  margin: -25px -30px -15px;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  border: 0;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.TimePicker-time {
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.TimePicker-placeholder {
  flex: 1;
}
.TimePicker-ampm {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  font-size: 14px;
  line-height: 20px;
  margin-left: 16px;
  font-weight: 700;
}
.TimePicker-select {
  color: white;
}
.TimePicker-body {
  padding: 24px 16px;
  background: #b3b3b3;
}
.Clock-root {
  width: 256px;
  height: 256px;
  cursor: default;
}
.Clock-circle {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  background: #1b1a1a;
  color: white;
  position: relative;
}
.Clock-number {
  width: 32px;
  height: 32px;
  left: calc(50% - 16px);
  top: calc(50% - 16px);
  position: absolute;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
  font-size: 14px;
  pointer-events: none;
  user-select: none;
}
.Clock-number.selected {
  color: white;
}
.Clock-smallNumber {
  font-size: 12px;
  color: #c5a6c3;
}
.Clock-pointer {
  width: calc(50% - 20px);
  height: 2px;
  background-color: #5d4a8f;
  position: absolute;
  left: 50%;
  top: calc(50% - 1px);
  transform-origin: left center;
  pointer-events: none;
}
.Clock-animatedPointer {
  transition: all 500ms ease-in-out;
}
.Clock-smallPointer {
  width: calc(50% - 52px);
}
.Clock-innerDot {
  background-color: #eee;
  position: absolute;
  top: -3px;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.Clock-outerDot {
  border: 16px solid #5d4a8f;
  border-width: 16px;
  position: absolute;
  top: -15px;
  right: -16px;
  width: 0;
  height: 0;
  border-radius: 50%;
  box-sizing: content-box;
}
.Clock-outerDotOdd {
  background: white;
  width: 4px;
  height: 4px;
  border-width: 14px;
}
