@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoKmNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothicCoding'), url(https://fonts.gstatic.com/s/nanumgothiccoding/v6/8QIVdjzHisX_8vv59_xMxtPFW4IXROws-6M7Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background: #222;
  color: white;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  font-size: 14px;
}
@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lobster', cursive, sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  width: 100%;
}
.App-header {
  background-color: #111;
  padding-left: 3em;
}
.App-logo {
  display: inline-block;
  margin: 1em;
  height: 50px;
}
@media (min-width: 576px) {
  .App-logo {
    height: 60px;
  }
}
@media (min-width: 768px) {
  .App-logo {
    height: 80px;
  }
}
.App-title {
  display: inline-block;
  vertical-align: top;
  color: #5d4a8f;
  font-size: 2em;
}
.Calendar {
  margin: 0 0.5em;
}
@media (min-width: 576px) {
  .Calendar {
    margin: 1em;
  }
}
@media (min-width: 768px) {
  .Calendar {
    margin: 2em;
  }
}
.Calendar-times {
  margin-left: 27px;
  margin-bottom: 1em;
}
@media (min-width: 576px) {
  .Calendar-times {
    margin-left: 72px;
  }
}
@media (min-width: 768px) {
  .Calendar-times {
    margin-left: 90px;
  }
}
.Calendar-times .time {
  font-family: 'Lobster', cursive, sans-serif;
  line-height: 2em;
  text-align: center;
  width: 2em;
  text-align: left;
  width: 4.16666667%;
}
.Calendar-times .time:nth-child(even) {
  color: transparent;
}
@media (min-width: 576px) {
  .Calendar-times .time:nth-child(even) {
    color: inherit;
  }
}
.Calendar-days {
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 2em;
}
.Calendar-days .day {
  display: flex;
}
.Calendar-days .day .name {
  display: none;
}
@media (min-width: 576px) {
  .Calendar-days .day .name {
    display: initial;
    margin-right: 1em;
  }
}
.Calendar-days .day .number {
  font-family: 'Lobster', cursive, sans-serif;
  line-height: 2em;
  text-align: center;
  width: 2em;
  background-color: #5d4a8f;
  height: 42px;
}
.Calendar-canvas {
  width: 100%;
}
.Sleep {
  position: relative;
}
.Sleep .sleep {
  position: absolute;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
