@font-paragraph: 'Roboto', sans-serif;
@font-mono: 'Nanum Gothic Coding', monospace;
@font-heading: 'Lobster', cursive, sans-serif;
@line-height-base: 1.7;

@brand-primary: #5d4a8f;
@brand-secondary: #c5a6c3;

// @media (min-width: @size-media-sm) {}
@size-media-sm: 576px;
@size-media-md: 768px;
@size-media-lg: 992px;
@size-media-xl: 1200px;
