.App {
  &-header {
    background-color: #111;
    padding-left: 3em;
  }

  &-logo {
    display: inline-block;
    margin: 1em;
    height: 80px;
  }

  &-title {
    display: inline-block;
    vertical-align: top;
    color: @brand-primary;
    font-size: 2em;
  }
}
